*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(94, 86, 86);
    padding: 0;
    border: 0;
}

nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px;
    background-color:rgb(226, 221, 221);
}

body{
    min-height: 100vh;
    background-color: rgb(202, 202, 195);
    max-width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
}

#conteudo{
    margin: 16px;
    
}

h1, h3{
    size: 20px;
    text-align: center;
    color: rgb(94, 86, 86);
    margin-top: 5%;
}

#sobre{
    text-align: center;
    padding-top: 8px;
}
p{
    color: rgb(94, 86, 86);
}

.botao{
    border-radius: 5px;
    width: 60px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: rgb(163, 155, 155);
    text-decoration: none;
    color: rgb(15, 14, 14);
    transition: 0.5s;

}

.botao:hover{
    background-color: rgb(94, 86, 86);
    color: aliceblue;    
}

a img{
    max-width: 100%;
}

#ctt{
    text-decoration: none;
    background-color: rgb(163, 155, 155);
    color: black;
    border-radius: 5%;
    transition: 0.5s;
}

#ctt:hover{
    color: blanchedalmond;
}


.imagens{
    max-width: 33%;
}

#container-images{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}


#container-images img{
    flex: 1;
}

iframe{
    padding: 32px;
}
footer{
    height: 30px;
    position: absolute;
    font-size: 12px;
    margin-top: 32px;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
}